body {
    font-family: Roboto;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text_margin {
    margin-left: 34px;
    margin-right: 32px;
}

.text__flow {
    margin-bottom: 24px;
    text-align: left;
    width: 222px;
}

.text_settings {}

.header {
    display: flex;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top {
    background: #E0E1E2;
    padding-top: 20px;
    padding-bottom: 48px;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(img/MX-Master\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 41px;
}

.top__arrow {
    margin-top: 40px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}

.bluetooth__img {
    height: 284px;
    background: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__item {
    border: 1px solid rgba(47, 49, 50, 1);
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-left: 34px;
    margin-right: 33px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
    margin-top: 113px;
}

.info__item-heading {
    margin-bottom: 5px;
}

.info__slider .info-indicators {
    margin: 10px 10px -80px 10px;
}

.info-indicators .info__button {
    margin-right: 11px !important;
    margin-left: 11px !important;
    background-repeat: no-repeat;
}

.info-indicators .wood-texture {
    background-image: url(img/wood-texture.svg);
}

.info-indicators .glass-texture {
    background-image: url(img/glass-texture.svg);
}

.info-indicators .linoleum-texture {
    background-image: url(img/linoleum-texture.svg);
}

.info-indicators .cloth-texture {
    background-image: url(img/cloth-texture.svg);
}

.info-indicators .marble-texture {
    background-image: url(img/marble-texture.svg);
}


.carousel {
    position: relative;
    margin-bottom: 80px;
}

.carousel-indicators [data-bs-target] {
    height: 30px !important;
}

.carousel-control-prev-icon {
    background-image: url(img/arrow-left.svg) !important;
    opacity: 1 !important;
}

.carousel-control-next-icon {
    background-image: url(img/arrow-right.svg) !important;
    opacity: 1 !important;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;
}

.settings__slider {
    padding: 35px 22px 98px 23px;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}